* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Righteous', cursive;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background: #c7cdd3;
}